zipp
WTForms
Werkzeug
SQLAlchemy
protobuf
mysqlclient
mysql
mysql-connector-python
MarkupSafe
Jinja2
itsdangerous
importlib-metadata
idna
greenlet
Flask
Flask-WTF
Flask-SQLAlchemy
Flask-Login
Flask-Bcrypt
email-validator
dnspython
colorama
click
bcrypt
setuptools
pip
gunicorn
