{% extends 'base.html' %}
{% block title %}
Editace místnosti
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <br>
            {{ form.capacity.label() }}
            {{ form.capacity(class="form-control", placeholder="Email") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}