{% extends 'base.html' %}

{% block title %}
Přehled místností
{% endblock %}

{% block content %}
<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
      <table class="table table-hover table-dark">
         <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Název</th>
                <th scope="col">Kapacita</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
         </thead>
         <tbody>
             <form method="post">
                 {{ form.hidden_tag() }}
                {% for room in rooms %}
                   <tr>
                       <td>{{ room.name }}</td>
                       <td>{{ room.capacity }}</td>
                       <td><a class="btn btn-primary" href="{{ url_for('room_detail_page', room_name=room.name) }}">Editovat</a></td>
                       <td><input name="deleted_room_name {{ room.name }}" id="{{ room.name }}" type="checkbox" value="{{ room.name }}"/></td>
                   </tr>
                {% endfor %}
                <td>{{ form.submit(class="btn btn-lg btn-block btn-primary") }}</td>
             </form>
         </tbody>
      </table>
   </div>
</div>
{% endblock %}